
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <!--
            <li class="active"><a ng-href="#">Home</a></li>
            <li><a ng-href="#/about">About</a></li>
            </li>
            -->
            <li class="btn-group" ng-if="currentUser && currentUser.authenticated">
                    <a class="btn" ui-sref="mosaics.query({query:'mine'})">My Mosaics</a>
                    <a class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="mosaics.all">All Mosaics</a></li>
                    </ul>
            </li>

            <li ng-if="!(currentUser && currentUser.authenticated)"><a ui-sref="mosaics.all">All Mosaics</a></li>
            <li class="dropdown">
                <a href="#/samples" class="dropdown-toggle" data-toggle="dropdown">Samples <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="sample in samplesCtrl.samples"><a href="#/samples/{{sample}}">{{sample}}</a></li>
                </ul>
            </li>
            <li><a ui-sref="sparql">Sparql</a></li>
            <li ng-controller="LoginCtrl as loginCtrl">
                <div ng-if="currentUser && currentUser.authenticated" class="btn-group">
                    <button type="button" class="btn btn-danger">{{currentUser.name}}</button>
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a ng-click="logout()">Logout</a></li>
                    </ul>
                </div>
                <div ng-if="!(currentUser && currentUser.authenticated)" class="btn-group">
                    <button type="button" class="btn btn-danger">Log in</button>
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a ng-click="authenticate('google')">Sign in with Google</a></li>
                        <li><a ng-click="authenticate('facebook')">Sign in with Facebook</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Register</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <h3 class="text-muted">mosaicsApp</h3>
    </div>

