<cell mosaics mosaic mosaic-var="selected">
    <div style="display: table; height: 100%"><row>
    <div class="slidein panel left">
        <h3 class="header_padder"><!-- vertical padding--></h3>
    <div style="position: absolute">
        <div id="mosaicList" class="subpanel">
            <ul class="nav nav-tabs panel_header">
                <li><h5 style="margin-top: 9px;margin-bottom: 0px;margin-right: 3px">Mosaics</h5></li>
                <li role="presentation" ui-sref-active="active" ui-sref="mosaics.query({query: 'mine'})"><a >Mine</a></li>
                <li role="presentation" ui-sref-active="active" ui-sref="mosaics.all"><a >All</a></li>
                <li style="float: right"><span title="Create a Mosaic" class="action btn glyphicon glyphicon-plus" style="float: right" ng-click="createMosaic()"></span></li>
            </ul>
            <div class="panel_content" >
                <div ng-repeat="mosaic in mosaics">
                    <!-- <span  ng-click="select(mosaic)" ng-style="{ 'font-weight': isSelected(mosaic) ? 'bold' : '' }">{{mosaic["dc:title"] || mosaic["id"]}}</span> -->
                    <span class="link" ui-sref="mosaics.id(mosaic)" ui-sref-active="active">{{mosaic["dc:title"] || mosaic["id"]}}</span>
                    <span class="action glyphicon glyphicon-trash" ng-click="deleteMosaic(mosaic)"></span>
                </div>
            </div>
        </div>
        <div id="resourceList" ng-if="selected" class="subpanel">
            <div class="panel_header">
                <div class="dropdown" title="Add a ressource" style="float: right">
                    <span class="action dropdown-toggle glyphicon glyphicon-plus" data-toggle="dropdown"></span>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-click="createResource(selected)">From URL</li>
                    </ul>
                </div>
                <h5>Resources</h5>
            </div>
            <div class="panel_content" >
                <div ng-repeat="res in selected.resources">
                    <span class="link" ui-sref="mosaics.id.resource({id:selected.id, res:res.id})" ui-sref-active="active">{{res['dc:title']}}</span>
                    <span class="action glyphicon glyphicon-trash" ng-click="deleteResource(selected, res)"></span>
                </div>
            </div>
        </div>
        <div id="annotationsList" ng-if="selectedRes" class="subpanel" ng-init="displayFrom = true">
            <div class="panel_header">
                <h5>Annotations
                    <span class="glyphicon glyphicon-log-out" ng-click="displayFrom = true" ng-style="displayFrom?undefined:{opacity:0.7}"></span>
                    <span class="glyphicon glyphicon-log-in" ng-click="displayFrom = false" ng-style="!displayFrom?undefined:{opacity:0.7}"></span>
                </h5>
            </div>
            <!--
            <span ng-click="createAnnotation()">New Annotation</span>
            -->

            <div class="panel_content" >
                    <div ng-repeat="annot in (displayFrom?annotationsFromMap:annotationsToMap)[selectedRes['source']]">
                    <span ng-click="gotoAnnotation(annot)">{{annot['dc:title']}}</span>
                    <span class="action glyphicon glyphicon-trash" ng-click="deleteResource(res)"></span>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!--
    <mosaic-viewer ng-mosaic="selected" ng-res="selectedRes" ng-if="selected"/>
    -->
    <div class="panel">
    <div ng-show="selected" style="padding: 0px 10px" ng-init="layout = 'right'" ng-class="'layout-'+layout">
        <h3>
            <span editable ng-model="selected['dc:title']"></span>
            <span ng-if="selectedRes">
                / <span editable ng-model="selectedRes['dc:title']"></span>
            </span>
            <div style="float:right;">
                <div class="btn-group" style="vertical-align: text-top" >
                    <span class="action dropdown-toggle" ng-class="{i_right_panel: layout == 'right', i_layout_design: layout == 'bottom', i_four_grid: layout == 'grid'}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </span>
                    <div class="dropdown-menu" style="font-size: inherit; min-width: 0; position: absolute; z-index: 1000; border: none; padding: 2px; left: -2px">
                        <div class="action i_right_panel dropdown-item" ng-click="layout = 'right'"></div>
                        <div class="action i_layout_design dropdown-item" ng-click="layout = 'bottom'"></div>
                        <div class="action i_four_grid dropdown-item" ng-click="layout = 'grid'"></div>
                    </div>
                </div>
                <span ng-if="selectedRes">
                    <a title="Open original resource" class="action glyphicon glyphicon-share" ng-href="selectedRes['source']"></a> |
                </span>
                <span title="Edit mosaic" class="action glyphicon glyphicon-edit" ng-click="toggleEdit()"></span>
                <span ng-show="selected.$dirty" class="action glyphicon glyphicon-floppy-save" ng-click="saveMosaic(selected)"></span>
            </div>
        </h3>
        <div class="flipContainer" ng-class="{showBack: editMode}">
            <div class="flipper">
                <div class="mosaicEditor back">
                    <ui-codemirror id="mosaicEditor" ui-codemirror-opts="editorOptions" ng-model="jsonMosaic"></ui-codemirror>
                </div>
                <div class="mosaicDisplay front" mosaic-display ng-res="selectedRes" annotations-from-map="annotationsFromMap" annotations-to-map="annotationsToMap">
                    <div class="mainResource">
                        <div style="display:inline-block; position:absolute; z-index: 100" ng-if="loading" class="loader">Loading</div>
                        <div id="theContainer" style="height: 100%"></div>
                    </div>
                    <div class="linkedResources" ng-show="$root.keys(displayedAnnotationResources).length > 0">
                        <div class="annotResContainer" ng-repeat="(hash, ann) in displayedAnnotationResources">
                            <div class="annotResViewer" ng-init="displayedResource = ann" ng-controller="ResourceDisplayCtrl as resDisplayCtrl">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

    </row></div>
</cell>